certifi==2022.12.7
charset-normalizer==2.1.1
contourpy==1.1.0
cycler==0.11.0
filelock==3.9.0
fonttools==4.42.1
idna==3.4
imageio==2.31.3
Jinja2==3.1.2
keyboard==0.13.5
kiwisolver==1.4.5
lazy_loader==0.3
MarkupSafe==2.1.2
matplotlib==3.7.2
mpmath==1.2.1
networkx==3.0
numpy==1.24.1
packaging==23.1
Pillow==9.3.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
requests==2.28.1
scikit-image==0.21.0
scipy==1.11.2
six==1.16.0
sympy==1.11.1
tifffile==2023.8.30
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
typing_extensions==4.4.0
urllib3==1.26.13
